{% extends 'base.html.twig' %}

{% block title %}Starshop: Beam up some parts {% endblock %}

{% block body %}
<h1>Starshop: your monopoly-busting option for Starshop parts!</h1>


<div>
    Brows through {{ numberOfStarShips }} starships!

    {% if numberOfStarShips > 399 %}

    <p>
        {#Do you think this"shipload" will pass to legal team#}
        That's a shipload Rockets!
        
    </p>

    {% endif %}
    
</div>

<div>
    <h2>
        My Ship
    </h2>

    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Caption</th>
            <td>{{ myShip.caption|upper }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>
{% endblock %}